In [4]:
#Lab2 
#Part 1
###############################################################
##                      Chapter 3                            ##
###############################################################

In [7]:
#3.3.2
print ("hello world!")

hello world!

In [12]:
#3.3.3
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}
def update_employee_record(rec):
    old_sal = rec['salary']
    new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
    rec['salary'] = new_sal
    state_code = rec['state_code']
    rec['state_name'] = STATE_CODE_MAP[state_code]

input_data = [
    {'employee_name': 'Susan', 'salary': 100000.0,
    'state_code': 'WA'},
    {'employee_name': 'Ellen', 'salary': 75000.0,
    'state_code': 'TX'},
    ]

for rec in input_data:
    update_employee_record(rec)
    name = rec['employee_name']
    salary = rec['salary']
    state = rec['state_name']
    print (name + ' now lives in ' + state)
    print (' and makes $' + str(salary))

Susan now lives in Washington
 and makes $105000.0
Ellen now lives in Texas
 and makes $78750.0

In [13]:
#3.3.4
my_integer = 2
my_other_integer = 2 + 3
my_float = 2.0
my_true_bool = True
my_false_bool = False
this_is_true = (0 < 100)
this_is_false = (0 > 100)

In [14]:
a_string = "hello"
same_as_previous = 'hello'
an_empty_string = ""
w_a_single_quote = "hello's"
multi_line_string = """line 1 line 2"""

In [16]:
"ABCD"[0]

'A'

In [17]:
"ABCD"[0:2]

'AB'

In [18]:
"ABCD"[1:3]

'BC'

In [19]:
"ABCD"[1:]

'BCD'

In [20]:
"ABCD"[:-1]

'ABC'

In [21]:
#3.4.1

# This whole line is a comment
a = 5 # and the last part of this line is too

In [22]:
def sqr(x):
    "This function just squares its input "
    return x * x

In [30]:
#3.4.2

my_list = ["a ", "b ", "c "]
print (my_list[0]) # prints "a "
my_list[0] = "A " # changes that element of the list
my_list.append("d ") # adds new element to the end
# List elements can be ANYTHING
mixed_list = ["A ", 5.7, "B ", [1,2,3]]
print(my_list)
print(mixed_list)

a
['A ', 'b ', 'c ', 'd ']
['A ', 5.7, 'B ', [1, 2, 3]]

In [38]:
original_list = [1,2,3,4,5,6,7,8]
squares = [x*x for x in original_list]
print(squares)
#HELP

[1, 4, 9, 16, 25, 36, 49, 64]

In [37]:
#3.4.3
my_list = ["a", "b", "c"]
first_two_elements = my_list[0:2]
print(first_two_elements)

['a', 'b']

In [39]:
#3.4.4
"ABC DEF".split()

['ABC', 'DEF']

In [40]:
"ABC \tDEF".split()

['ABC', 'DEF']

In [41]:
"ABC \tDEF".split(' ')

['ABC', '\tDEF']

In [42]:
"ABCABD".split("AB")

['', 'C', 'D']

In [43]:
",".join(["A", "B", "C"])

'A,B,C'

In [44]:
start, end, count_by = 1, 7, 2
"ABCDEFG"[start: end: count_by]

'BDF'

In [48]:
#3.4.5
my_tuple = (1, 2, "hello world")
print(my_tuple[0]) # prints 1
#my_tuple[1] = 5 # This will give an error!

1

In [49]:
my_tuple = (1, 2)
zeroth_field, first_field = my_tuple

In [51]:
#3.4.6
my_dict = {"January": 1, "February":2}
print(my_dict["January"]) # prints 1
my_dict["March"] = 3 # add new element
my_dict["January"] = "Start of the year" # overwrite old value
print(my_dict["January"])

1
Start of the year

In [52]:
pairs = [("one",1), ("two",2)]
as_dict = dict(pairs)
same_as_pairs = as_dict.items()

In [53]:
#3.4.7
s = set()
5 in s

False

In [54]:
s.add(5)
5 in s

True

In [55]:
#3.5
def my_function(x):
    y = x+1
    x_sqrd = x*x
    return x_sqrd
five_plus_one_sqrd = my_function(5)
print(five_plus_one_sqrd)

25

In [57]:
def raise1(x, n=2):
     return pow(x,n)

In [61]:
two_sqrd = raise1(2)
two_cubed = raise1(2, n=3)
print(two_sqrd)
print(two_cubed)

4
8

In [62]:
sqr = lambda x : x*x
five_sqrd = sqr(5)
print(five_sqrd)

25

In [63]:
def apply_to_evens(a_list, a_func):
    return [a_func(x) for x in a_list if x%2==0]

In [65]:
my_list = [1,2,3,4,5]
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)
print(sqrs_of_evens)

[4, 16]

In [67]:
#3.5.1
my_list = [1, 2, 3]
for x in my_list:
    print("the number is ", x)

the number is  1
the number is  2
the number is  3

In [70]:
for key, value in my_dict.items():
    print ("the value for ", key, " is ", value)

the value for  January  is  Start of the year
the value for  February  is  2
the value for  March  is  3

In [73]:
i = 0
while i < 5:
    print("i is still less than five")
    i = i+1

i is still less than five
i is still less than five
i is still less than five
i is still less than five
i is still less than five

In [74]:
#3.5.2
int(5.6)

5

In [75]:
float(5)

5.0

In [76]:
bool("")

False

In [77]:
bool("as")

True

In [79]:
#3.5.3
try:
    lines = input_text.split("\n")
    print ("tenth line was: ", lines[9])
except:
    print ("There were < 10 lines")

There were < 10 lines

In [84]:
#3.5.4
class Dog:
    def __init__(self, name):
        self.name = name
    def respond_to_command(self, command):
        if command == self.name: self.speak()
    def speak(self):
        print("bark bark!!")

In [85]:
fido = Dog("fido")
fido.respond_to_command("spot") # does nothing
fido.respond_to_command("fido") # prints bark bark

bark bark!!

In [87]:
a =5
b =a
a = a +1
print (b)

5

In [88]:
A = []
B = A
A.append(5)
B

[5]

In [91]:
A = [{}, {}]
B = [x for x in A]
A[0]["name"] = "bob"
B[0]["name"]

'bob'

In [95]:
#3.6.1

In [94]:
import sys
!{sys.executable} -m pip install numpy

Collecting numpy
  Downloading numpy-1.14.2-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (4.7MB)
    100% |████████████████████████████████| 4.7MB 334kB/s eta 0:00:01
Installing collected packages: numpy
Successfully installed numpy-1.14.2

In [97]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
    "name": ["Bob", "Alex", "Janice"],
    "age": [60, 25, 33]
})

In [99]:
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools
# The columns have various built-in aggregate
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)

In [100]:
print (df.index)

RangeIndex(start=0, stop=3, step=1)

In [103]:
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print (df_w_name_as_ind.index) # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.ix["Bob"]
print(bobs_row["age"]) # prints 60

Index(['Bob', 'Alex', 'Janice'], dtype='object', name='name')
60

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [104]:
#3.6.2

import pandas as pd
s = pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [105]:
s+2

0    3
1    4
2    5
dtype: int64

In [106]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [107]:
s + pd.Series([4,4,5])

0    5
1    6
2    8
dtype: int64

In [110]:
bobs_row = df_w_name_as_ind.ix["Bob"]
type(bobs_row)
bobs_row

age                60
age_plus_one       61
age_times_two     120
age_squared      3600
over_30          True
Name: Bob, dtype: object

In [111]:
#3.6.3
df_w_age = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33]
})

In [112]:
df_w_height = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"height": [6.2, 4.0, 5.5]
})

In [113]:
joined = df_w_age.set_index("name").join(
df_w_height.set_index("name"))

In [114]:
print(joined)

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5

In [115]:
print (joined.reset_index())

     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5

In [116]:
df = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33],
"height": [6.2, 4.0, 5.5],"gender": ["M", "M", "F"]
})

In [117]:
print (df.groupby("gender").mean())

         age  height
gender
F       33.0     5.5
M       42.5     5.1

In [118]:
medians = df.groupby("gender").quantile(0.5)
def agg(ddf):
    return pd.Series({
        "name": max(ddf["name"]),
        "oldest": max(ddf["age"]),
        "mean_height": ddf["height"].mean() })

In [119]:
print (df.groupby("gender").apply(agg))

        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60

In [120]:
###############################################################
##                      Chapter 4                            ##
###############################################################

In [121]:
#4.4.2
"ABC\t".strip()

'ABC'

In [122]:
" ABC\t".lstrip()

'ABC\t'

In [123]:
" ABC\t".rstrip()

' ABC'

In [124]:
"ABC".strip("C")

'AB'

In [2]:
#4.4.7
s = "abc\xFF"
print(s)

abcÿ

In [3]:
s.decode("ascii", "ignore")

AttributeError: 'str' object has no attribute 'decode'

In [131]:
#4.4.7
import dateutil.parser as p

In [132]:
p.parse("August 13, 1985")

datetime.datetime(1985, 8, 13, 0, 0)

In [133]:
p.parse("2013-8-13")

datetime.datetime(2013, 8, 13, 0, 0)

In [134]:
p.parse("2013-8-13 4:15am")

datetime.datetime(2013, 8, 13, 4, 15)

In [135]:
def get_first_last_name(s):
    INVALID_NAME_PARTS = ["mr", "ms", "mrs",
        "dr", "jr", "sir"]
    parts = s.lower().replace(".","").strip().split()
    parts = [p for p in parts
        if p not in INVALID_NAME_PARTS]
    if len(parts)==0:
            raise ValueError(
                "Name %s is formatted wrong" % s)
    first, last = parts[0], parts[-1]
    first = first[0].upper() + first[1:]
    last = last[0].upper() + last[1:]
    return first, last
def format_age(s):
    chars = list(s) # list of characters
    digit_chars = [c for c in chars if c.isdigit()]
    return int("".join(digit_chars))
def format_date(s):
    MONTH_MAP = {"jan": "01", "feb": "02", "may": "03"}
    s = s.strip().lower().replace(",", "")
    m, d, y = s.split()
    if len(y) == 2: y = "19" + y
    if len(d) == 1: d = "0" + d
    return y + "-" + MONTH_MAP[m[:3]] + "-" + d